.NavBar{
    background-color: #0f172a;
    padding: 12px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .page-title{
        color: white;
        font-size: 30px;
    }


    ul {
        list-style: none;
        li {
            .login-btn {
                background: #fff;
                border: 0;
                padding: 1rem;
                border-radius: 1rem;
            }
        }
    }
}